*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b1d6e0; 
    color: #2e383d;
    line-height: 1.6;
    padding: 20px;
}

.container{
    max-width: 900px;
    margin: 40px auto;
    background: #e2efe0;
    padding: 20px;
    border: 5px solid #4f676f; 
}

h1, h2{
    margin-bottom: 10px;
}

h1{
    text-align: center;
    color: #2f4d4f; 
}

h2{
    margin-top: 30px;
    color: #3e5d6b; 
}

ul, ol{
    margin-left: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #93b8ca;
}

table, th, td{
    border: 2px solid #58727b;
}

th{
    background-color: #6b898e; 
    color: rgb(255, 255, 255);
}

th, td{
    padding: 8px;
    text-align: center;
}

footer{
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #2f464f;
}